body {
	display: flex;
	flex-flow: column;
	align-items: stretch;
}

.pair {
	padding: 8px;
	flex: none;
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: space-around;
}

.pair label {
  padding-right: 8px;
}

.pair input {
  flex: 1;
}

.level {
	flex: none;
	margin: 8px;
}

.open-space {
	flex: 1;
	display: flex;
	flex-flow: column;
	align-items: center;
}

.add-level {
	flex: none;
	margin: 8px;
	height: 40px;
	background: #bb4;
	text-transform: uppercase;
	color: white;
	border: none;
}

.submitButton {
	flex: none;
	height: 30px;
	background: #4b4;
	text-transform: uppercase;
	color: white;
	border: none;
}
